.btnEdit{
  float: right;
  margin-top: -8px;
}

.results {
  display: block ruby;
}

.conten{
  display: flex;
  flex-direction: column;
  width: 96%;
}

.resultResponsive{
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}


.table th{
  font-weight: bold !important;
  //border: 0; border-bottom:1px solid #fff
}
/*
.table td{
  border: 0; border-bottom:1px solid #fff
}
*/

@media all and (min-width: 718px){
  .resultResponsive{
    display: none;
  }
}

@media all and (max-width: 717px){
  .resultResponsive{
    display: block;
  }
}