.form{
  section{
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  .btn{
    display: flex;
    justify-content: flex-end;
  }
} 

.btnOption{
  display: flex;
  justify-content: space-between;
}

.columns{  
  text-align: left;
  list-style: none;
}

@media all and (min-width: 718px){
  .form2{
    display: none;
  }
}

@media all and (max-width: 717px){
  .form{
    display: none;
  }
  .form2{
    display: block;
  }
}